body {
    font-family: Lato;
}

#title {
    font-size: 32px;
    font-weight: bold;
    font-family: Dancing Script;
}

#question {
    font-size: 32px;
}

#responses  {
    display: flex;
}

#responses .button {
    margin-left: 24px;
}

#results-content {
    margin-left: 24px;
    border-color: black;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    padding: 8px;
    background-color: #fff6c2;
    box-shadow: 0 0 24px 0 black;
}

#results .header {
    font-weight: bold;
    font-size: 22px;
}

#response-citations-container {
    padding: 16px;
    background-color: #fff6c2;
    border-color: black;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0 0 24px 0 black;
}

.modal {
    position: absolute;
    top: 10%;
    left: calc(50% - 150px);
    /* height: 400px; */
    width: 300px;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: #222;
    padding: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 20px #444;
}

.modal .header {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.modal-content {
    margin-top: 8px;
    margin-bottom: 16px;
}

.modal-content div {
    margin-bottom: 16px;
}

.button {
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: #222 !important;
    padding: 8px;
    background-color: #44993d;
    cursor: pointer;
    text-align: center;
    box-shadow: 4px 4px 8px 2px #888;
    color: white;
    font-size: 22px;
    margin-top: 8px;
    margin-bottom: 8px;
    max-width: 120px;
}

.button:hover {
    background-color: #444;
}

#intro-modal .header {
    font-family: Dancing Script;
}

#intro-modal .button {
    margin-left: 80px;
}

#result-modal .button {
    margin-left: 80px;
}

#content div {
    margin-bottom: 16px;
}

.response-verse {
    margin-left: 24px;
}

.response-message {
    font-weight: bold;
}

#question-number {
    float: right;
    font-weight: bold;
    background-color: #bbb;
    border-radius: 4px;
    padding: 4px;
}

.hidden {
    display: none !important;
}
